* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #420101;
  color: white;
  overflow-x: hidden;
  font-size: 20px;
}

/* Awal CSS Navbar */

.navbar .navbar-brand img {
  width: 16%;
  height: 16%;
}

.container-title {
  margin-top: 30px;
  text-align: center;
}

.container-title .text-title h1 {
  text-align: center;
  font-weight: bold;
}

.container-title.text-content.card-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}
.navbar .search {
  cursor: pointer;
  position: relative;
  left: 2px;
}

input {
  width: 100%;
  padding: 5px 16px;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 3px;
  outline: none;
  border-radius: 20px;
}

.search {
  position: relative;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
}

.search.active {
  left: 0;
}

.container-fluid {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}
.container {
  width: 1200px;
  height: auto;
  margin: auto;
}
.container .search {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
}

.container .search h1 {
  letter-spacing: 3px;
  display: inline-block;
  border-bottom: 2px;
  padding-bottom: 10px;
}

.container .search input {
  width: 50%;
  padding: 5px 16px;
  background: transparent;
  border: 1px solid #000;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 3px;
  outline: none;
  border-radius: 20px;
}
footer {
  background-color: rgb(36, 17, 1);
}
.footercontainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicons {
  display: flex;
  justify-content: center;
}
.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(36, 17, 1);
  margin: 10px;
  border-radius: 50%;
}
.socialicons a i {
  font-size: 2em;
  color: white;
  opacity: 0.9;
}
/* efek hover pada ikon media sosial */
.socialicons a:hover {
  background-color: black;
  transition: 0, 5s;
}
.socialicons a:hover i {
  background-color: black;
  transition: 0.5s;
}
.footernav ul {
  display: flex;
  justify-content: center;
  color: white;
}
.footerbottom {
  background-color: black;
  padding: 20px;
  text-align: center;
}
.footerbottom p {
  color: white;
}
.text {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
